
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <button type="button" routerLink="" routerLinkActive="active" class="btn btn-primary">Logs list</button>
  <button type="button" routerLink="add" routerLinkActive="active" class="btn btn-primary">Add Logs</button>
  <button type="button" routerLink="report" routerLinkActive="active" class="btn btn-primary">Report</button>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
</footer>